<h2>Circusi</h2>
<div><%= link_to "New Circus", new_circus_path%></div>

<ul>
<% @circuses.each do |circus| %>
<li><%= link_to circus.name, circus %></li>
<li><%= image_tag circus.image_url %></li>
<br>
<% end %>
</ul>
